.todos-header {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.todos-header input,
button {
  box-sizing: border-box;
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
}

.todos-header button {
  cursor: pointer;
}

.todos-item {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}
.todos-itemm .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.todos-item .date {
  color: gray;
}
.todos-item .content {
  font-weight: bold;
  margin: 30px 0px;
}
.todos-item .create-at {
  font-size: 0.7em;
  margin-top: 30px;
  color: #444;
}